.App {
  text-align: center;
  padding: 0
}

input {
  width: 200px;
}

form {

  margin-top: 5%;
}
/* Flexs */
.Flex-Column {
  display: flex;
  flex-direction: column;
}

.Flex-Row {
  display: flex;
  flex-direction: row;
}

.Flex-Center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* Containers */
.ClockContainer {
  margin: auto;
  border: 1px solid #ccc;
  width: 800px;
  height: 500px;
  display: flex;
}

.ContainerLeft {
  width: 300PX;
}

/* Cubes */
.Cube-1 {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.Cube-2 {
  border: 1px solid black;
  width: 200px;
  height: 202px;
}

.Cube-3 {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.Cube-5 {
  border: 1px solid black;
  width: 500px;
  height: 500px;
}


/* Background Colors */
.Red {
background: red;
}

.Green {
  background: green;
}

.Blue {
  background: blue;
}

